[Unit]
Documentation=man:systemd-sysv-generator(8)
Description=LSB: Boomi Basic Runtime
After=local-fs.target network.target remote-fs.target nss-lookup.target ntpd.service
# For AWS based clusters using EFS mounts use this instead:
# After=efs.mount local-fs.target network.target remote-fs.target nss-lookup.target ntpd.service
Conflicts=shutdown.target

[Service]
LimitNOFILE=65536
LimitNPROC=65536
Type=forking
Restart=always
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=yes
RemainAfterExit=yes
ExecStart=/boomi/share/bin/atom start
ExecStop=/boomi/share/bin/atom stop
ExecReload=/boomi/share/bin/atom restart
User=boomi
Group=boomi

[Install]
WantedBy=multi-user.target
